* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


.router-link-active:hover {
    cursor: default;
}

.embed-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: none;
    background: #eaeaea;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    position: fixed;
    z-index: 11;
    background: white;
    border-bottom: 1px solid #000;
    top: 0;
    left: 0;
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    text-align: right;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 30px;
}

header h1 a:hover {
    font-style: italic;
}

nav a {
    border-bottom: 1px solid transparent;
    transition: .3s ease all;
}

nav a:hover,
.router-link-active {
    border-bottom: 1px solid #000;
}

header+main {
    margin-top: 90px;
}

.default-layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.default-layout-wrapper main {
    flex: 2;
}

.btn,
a.btn {
    padding: 15px;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}